# Projeto Supabase: Golf Fox (ID: oulwcijxeklxllufyofb)
NEXT_PUBLIC_SUPABASE_URL="https://oulwcijxeklxllufyofb.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im91bHdjaWp4ZWtseGxsdWZ5b2ZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAzOTIzOTMsImV4cCI6MjA3NTk2ODM5M30.J_I1nU3JfZ6GoDWCIwOD4zSK041YwtkdVCjOBRYv1Q4"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im91bHdjaWp4ZWtseGxsdWZ5b2ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDM5MjM5MywiZXhwIjoyMDc1OTY4MzkzfQ.SDOXBPWV2DTCb8mQGm-ScGCtr4recU9a6GQdjO7hx9g"
SUPABASE_JWT_SECRET="cB94dthDvtYPfXyZLthr4ZyNbWwuAB9RUTUMJNY2J/PBylawMGNuY74H+jwm9jBG9n/2Btn9JNAmrDCREM3D+A=="
